@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');

*{
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
}
.bold{
    font-weight: bold;
}
option[value=""][disabled] {
    display: none;
  }
header{
    background: #0d47a1;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px 20px;
}
.contenido{
    border-style: none;
    color: white;
    background: none;
    font-size: 20px;
    margin: 8px;
    padding: 5px;
}
.contenido:hover{
    background-color: #fff;
    color: #000;
}
.active{
    background-color: #fff;
    color: #000;
}
/*ul{   
    list-style-type: none;
    /*margin-top: 25px;*/
/*}*/
    
 /*   ul li{
      display: inline-block;
    }
    
    ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    /*transition: 0.6s ease;*/
   /* }*/
    
  /*  ul li a:hover{
    background-color: #fff;
    color: #000;
    }
     
    ul li.active a{
    background-color: #fff;
    color: #000;
    }*/
h1,.barra-nav{
    font-size: 24px;
    color: white;  
    display: inline-block;
}
.barra-nav{
    margin: 5px;
}
.nav{
    color: #63dc1a;
    margin-right: 3px;
    font-size: 25px;
    vertical-align: middle;
} 
.icon-pok{
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
body{
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
   
}
main{
    display:flex;
    justify-content: center;
    flex:1;
  }
#logo{
    width: 131px;
    height: 80.2px;
    margin-bottom: 12.8px;
}
.label{
    align-self: flex-start;
    font-size: 16px;
    font-weight: normal;
    line-height: 25px;
    height: 37px;
    color: #000000; 
}
.olvidaste-contrasena{
    align-self: flex-end;
    font-size: 14px;
    font-weight: bold;
    line-height: 1px;
    height: 22px;
    color: #000000; 
}
.registro{
    align-self: center;
    font-size: 16px;
    font-weight: normal;
    line-height: 1px;
    height: 22px;
    color: #000000; 
}
#user, #pass{
    box-sizing: border-box;
    width: 280px;
    height: 45px;
    padding: 5px;
    border-radius: 2px;
    border-style: none;
    margin-bottom: 12px;
}
#ingresar{
    align-self: center;
    border-style: none;
    border-radius: 5px;
    height: 50px;
    width: 280px;
    margin-top: 48px;
    margin-bottom: 12px;

    background-color: #ff9800;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 1px;
}

#clave-incorrecta{
    font-size: 14px;
}
.flex-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    padding: 0px 20px;
    
    background: #F7F7F7;
    
}
.flex{
    display:flex;
    align-items:center;
}
/*#screen_home{
    justify-content: space-between;
}*/
#about-us{
    width: 550px;
    margin-right: 70px;
    line-height: 30px;
}
#about-us p{
    background-color: rgba(0, 0, 0, 0.3);
    text-align: justify;
    padding: 20px;
    color: white;
}
footer{
    background: #000;
    padding: 15px;
    color: white;
    font-size: 12px;
    text-align: center;
}
.hide{
    display:none;
}

/* Estilo de cards*/

.card{
    border: 2px solid rgba(0, 0, 0, 0.6);
    margin: 5px;
    display: inline-block;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background-color: #6bbd837d;
    width: 150px;
 }
 .img-pok{
    padding: 8px;
    background: rgba(35, 34, 53, 0.3);
 }
 .num{
     text-align: left;
     font-weight: bold;
     margin: 0;
 }
 .nom{
    color: #f8f8f8;
    font-weight: bold;
    background: #0d47a1;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
 }
 .pc{
    color: #f8f8f8;
    font-weight: bold;
    background: #20af0e;
    width: 70px;
    margin: 5px auto;
 }
 .type{
    color: #710909;
    font-weight: bold;
    margin: 0;
    font-size: 13px;
 }
 #count-egg{
    color: white;
    font-weight: bold;
    padding: 5px;
 }
.flex-poke{
    text-align: center;
}
@media screen and (min-width:764px){
    .fondo1{
        background-image:linear-gradient(
            rgba(0, 0, 0, 0.35),
            rgba(0, 0, 0, 0.35)
          ), url('../img/fondo.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        /* rgba(25, 209, 231, 0.5),
          rgba(243, 17, 224, 0.5)*/
    }
    #logo{
        margin-bottom: 3.75px;
        width: 156.5px;
        height: 96.25px;
    }
    #user, #pass, #ingresar{
        width: 335px;
        
    }
    .flex-form{
        /*width: 460px;*/
        height: 516px;
        padding:0px 62.5px;
        box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
    }
    footer{
        font-size: 14px;
    }
}