@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');

*{
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.fondo1{
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.35),
        rgba(0, 0, 0, 0.35)
        ), url('https://www.pokemongo.com/assets/images/lets-go-switch/background.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex:1;
}
#logo{
    width: 131px;
    height: 80.2px;
    margin-bottom: 12.8px;
}
#google-play{
    width: 35%;
}
#appstore{
    width: 35%;
}
#logo-header{
    display: none;
}
#logo-pok{
    width: auto;
}
.bold{
    font-weight: bold;
}
header{
    background: #0d47a1;
    display: flex;
    justify-content:space-around;
    flex-direction: column-reverse;
    align-items: center;
    padding: 15px 20px;
}
#search-by-name{
    margin: 5px;
}
.search {
    width: 150px;
    border: transparent;
    border-bottom: solid 1px white;
    padding: 5px 0px 5px 10px;
    background-color: #3f51b500;
    color: white;
}
.searchbut{
    border: none;
    width: 30px;
    height: 30px;
    background-color: #ff0000;
    color: white;
    border-radius: 5px;
}
::placeholder{
    color: #bbb5b5;
}
ul li a:hover{
    background-color: red;
}
.active{
    background-color: red;
}
.nav{
    color: #fff;
    margin-right: 3px;
    font-size: 20px;
} 
ul{   
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul li a{
    text-decoration: none;
    color: #fff;
    border: 1px solid transparent;
    transition: 0.6s ease;
    display:flex;
    font-size: 13px;
    font-weight: bold;
    border-style: none;
    background: none;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
h2{ 
    text-align: center;
    font-size: 16px;
    color: white;
}
.icon-pok{
    width: 20px;
    height: 20px;
}
.label{
    align-self: flex-start;
    font-size: 16px;
    font-weight: normal;
    line-height: 25px;
    height: 37px;
    color: #FFFFFF; 
}
.forgot-pass{
    align-self: flex-end;
    font-size: 14px;
    font-weight: bold;
    line-height: 1px;
    height: 22px;
    color: #FFFFFF;  
}
.registro{
    align-self: center;
    font-size: 16px;
    font-weight: normal;
    line-height: 1px;
    height: 22px;
    color: #FFFFFF; 
}
#user, #pass{
    box-sizing: border-box;
    width: 280px;
    height: 45px;
    padding: 5px;
    border-radius: 2px;
    border-style: none;
    margin-bottom: 12px;
}
#ingresar{
    align-self: center;
    border-style: none;
    border-radius: 5px;
    height: 50px;
    width: 280px;
    margin-top: 48px;
    margin-bottom: 12px;
    background-color: #ff9800;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 1px;
}
#ingresar:hover{
    background: #0d47a1;
}
#clave-incorrecta{
    font-size: 14px;
    color: #FFFFFF; 
}
.flex-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    padding: 0px 20px;  
}
.flex{
    display:flex;
    align-items:center;
}
.flex-home{
    display:flex;
    align-items:center;
    flex-direction: column;
    padding: 5px;
}
#about-us{
    width: 90%;
    font-size: 14px;
    text-align: center;
}
#about-us p{
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    color: white;
    width: 85%;
    margin: 20px auto;
}
#gif-pokemon{
    width: 50%;
    height: 50%;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#filter, #weakness, #order{
    background: #f3f0f0;
    border-radius: 3px;
    color: #131b6b;
    padding: 8px 16px;
    border: 1px solid transparent;
    margin: 0px 0px 8px 0px;
}
option[value=""][disabled] {
    display: none;
}
footer {
    margin: 0;
    padding: 7px 20px;
    background: #000;
    text-align: center;
}
footer p:nth-child(1){
  
    color: white;
    font-size: 11px;
    margin: 0px;
}
footer p:nth-child(2){
    font-size: 20px;
    color: white;
    margin: 0;
}
.filter{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}
.hide{
    display:none;
}
/* Estilo de cards*/
.flex-poke{
    text-align: center;
}
.img-pok{
    padding: 8px;
}
.num{
    text-align: left;
    font-weight: bold;
    margin: 5px 20px;
    color: #FF9800;
    border-bottom: 2px solid #FF9800;
}
.nom{
    color: #f8f8f8;
    font-weight: bold;
    padding: 5px;
    margin: 5px 20px;
    border-radius: 5px;
}
.orange{
    background: #FF9800;
}
.black{
    background: black;
}
.flip-card {
    height: 300px;
    perspective: 1000px;
    border: 2px solid rgb(242, 243, 247);
    margin: 5px;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    width: 220px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back, .flip-card-front-no{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-card-front {
    background: #F7F7F7;
} 
.flip-card-back {
    background-color: #FFC107;
    transform: rotateY(180deg);
}
.data-type{
    color: black;
    font-weight: bold;
    background: #f8f8f8;
    padding: 0 3px;
    border-radius: 2px;
    margin-right: 3px;
}
.data-value{
    font-weight: bold;
    margin-left: 20px;
    font-size: 13px;
    text-align: start;
    margin-top: 5px;
    margin-bottom: 5px;
}
.blue{
    color: #0d47a1;
}
.white{
    color: white;
}
.status{
    display: inline-block;
    font-weight: bold; 
    padding: 5px;
    border-radius: 2px;
    margin: 5px;
}
.trapped{
    background: #f8f8f8;
    color: #0d47a1;
    border-bottom: 5px solid #ff9800;
}
.no-trapped{
    color: white;
    border: 1px solid;
    border-bottom: 5px solid black;
}
#up {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
#up:hover {
    background-color: #0d47a1;
}
.buttonkm{
    border-radius: 3px;
    padding: 8px 16px;
    border: 1px solid transparent;
    font-weight: bold;
    margin: 10px auto;
    display: inherit;
}
.km2{
    color: white;
    background-color: #3366cc;
}
.km5{
    color: white;
    background-color: #dc3912;
}
.km10{
    color: white;
    background-color: #ff9900;
}
.buttons{
    text-align: center;
}
.graphic-pie{
    display: none;
}
h3{
    color: gold;
    font-size: 25px;
    text-align: center;
}
/* CSS TABLE */
.width{
    width: 65%;
}

@media screen and (min-width:764px){
 
    #logo{
        margin-bottom: 3.75px;
        width: 156.5px;
        height: 96.25px;
    }
    #logo-header{
        display: flex;
        align-items: center;
    }
    #logo-pok{
        width: 25%;
        margin: 0 5px;
    }
    #user, #pass, #ingresar{
        width: 335px;
    }
    .label, .forgot-pass, #error-pass, .registro{
        color: #000000; 
    }
    .flex-form{
        height: 516px;
        padding:0px 62.5px;
        background: #F7F7F7;
        box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
    }
    .flex-home{
        flex-direction: row;
        justify-content: space-around;
    }
    form{
        display: block;
    }
    footer{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    footer p:nth-child(1){
        font-size: 13px;   
    }
    footer p:nth-child(2){  
        font-size: 25px;
        width: auto;
    }
    h1, h2{ 
        font-size: 24px;
        color: white;
        display: inline-block;
        margin: 5px 0;
    }
    h2{
        margin-bottom: 20px;
    }
    header{
        justify-content:space-between;
        flex-direction: initial;
        font-size: 15px;
    }
    #gif-pokemon{
        width: auto;
        height: auto;
    }
    #about-us{
        width: 50%;
        font-size: 18px;
        line-height: 30px;
    }
    .buttonkm{
        display: inline;
        margin: 10px 5px;
    }  
    .graphic-pie{
        display: flex;
        flex-direction: column;
        text-align: -webkit-center;
        margin: 0 auto;
    }
    h3{
        color: gold;
        font-size: 23px;
        text-align: center;
        width: 85%;
        margin: auto;
    }
    #count-egg{
        text-align: center;
        font-weight: bold;
        padding: 5px;
        color: #FFFFFF;
        border-bottom: 5px solid gold;
        width: 50%;
        margin: 20px auto;
     }
     .filter{
         justify-content: space-around;
         align-items: center;        
     }
     #filter, #weakness, #order{
         margin: 16px 5px;
     }
}
